{% extends 'base.html.twig' %}

{% block body %}
  <h1>Modification de régime</h1>
  {{ form(form) }}
{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
  <h1>Modification de régime</h1>
  {{ form(form) }}
{% endblock %}
